<!DOCTYPE html>
<html>
  <head>
    <title>Jared's App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Jared's sandBox Node.js web app</h1>
    <p>Welcome to my app</p>
  </body>
</html>
