<!DOCTYPE html>
<html>
  <head>
    <title>Jared's App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Second Web page</h1>
    <p>Super simple web page.</p>
    <p>Current Date: <span id ="date"></span></p>
  </body>

  <script>
      var now = new Date();
      document.getElementById("date").innerHTML = now;
  </script>